:root {
  --red: #9a0909;
  --skeleton-color-dark-one: #444;
  --skeleton-color-dark-two: #777;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #1a1a1a;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
button {
  background: none;
  border: none;
  padding: 0;
}
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: inherit;
}

/*
=============== 
ReactComments
===============
*/

#ReactComments {
  padding-bottom: 500px;
  width: 600px;
  margin: 0 auto;
  min-height: 900px;
}

/*
=============== 
Header
===============
*/

#header {
  width: 100%;
  height: 50px;
}
#header .header_container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#header .header_container .header_logo {
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
}
#header .header_container .header_logo .react_comments_logo {
  width: 24px;
  height: 24px;
  padding: 5px;
}
#header .header_container .header_logo h1 {
  font-size: 1.5rem;
}
#header .header_container .icons_container {
  display: flex;
  width: 110px;
  height: 100%;
  justify-content: space-between;
}
#header .header_container .icons_container .icon {
  color: #fff;
  font-size: 1.5rem;
  width: 50px;
  cursor: pointer;
}

/*
=============== 
Selectors
===============
*/

.thread_selectors {
  margin-bottom: 30px;
}
.thread_selectors > div:not(:last-child) {
  margin-bottom: 20px;
}

.users {
  display: flex;
  justify-content: space-evenly;
}
.su-header,
.st-header {
  color: #fff;
  padding: 5px 0;
  margin-bottom: 1px;
}
.user-select {
  width: 60px;
  height: 60px;
  padding: 5px;
  cursor: pointer;
}
.user-select:hover,
.user-is-selected {
  background-color: var(--red);
}

.st-threads {
  display: flex;
}
.thread-selector {
  height: 30px;
  padding: 5px;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
}
.thread-selector:not(:last-child) {
  margin-right: 15px;
}
.thread-is-selected,
.thread-selector:hover {
  opacity: 1;
}

/*
=============== 
Thread
===============
*/

.thread_column {
  width: 100%;
}

/* Thread menu */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  color: #fff;
}

.header-menu {
  width: 150px;
  height: 35px;
  cursor: pointer;
  z-index: 5;
}

.header-menu,
.header-menu > ul {
  background-color: rgba(10, 10, 10, 0.9);
}

.header-menu > ul {
  overflow: hidden;
  height: 0;
  transition: height 0.2s linear;
}

.header-menu > ul li:hover {
  background-color: var(--red);
}

.menu-open {
  height: 70px !important;
}

.menu-item {
  height: 35px;
  line-height: 35px;
  padding-left: 15px;
}

.comment {
  display: block;
  height: auto;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.thread_column > div:not(:last-child),
.thread_comments > div:not(:last-child),
.comment .comment:not(:last-child),
.thread > div:not(:last-child) {
  margin-bottom: 9px;
}
.thread_comments > .comment > .comment_replies,
.thread_comments
  > .comment
  > .comment_replies
  > .replies
  > .comment
  > .comment_replies {
  margin-left: 25px;
}
.thread_form,
.thread_comments > .comment {
  background-color: rgba(10, 10, 10, 0.9);
}
.thread_form > div:not(:last-child),
.comment_post > div:not(:last-child) {
  margin-bottom: 5px;
}
.comment .comment {
  padding: 0;
}

.comment_header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 60px;
}

.comment_author {
  display: flex;
}

.comment_options {
  display: flex;
  height: 25px;
  position: absolute;
  right: 0;
}

.cp_opt_icn {
  fill: currentColor;
  width: 25px;
  color: #909090;
  height: 25px;
  display: none;
  position: relative;
  opacity: 0;
}
.opt_ui {
  display: inline-block;
}
.cmt_pin {
  width: 25px;
  height: 25px;
  color: var(--red);
  fill: currentColor;
}
.cmt_pin > svg {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  transform: rotate(315deg);
}
.cp_opt_icn > svg {
  cursor: pointer;
  font-size: 1.5rem;
}
.comment_post:hover .cp_opt_icn {
  opacity: 1;
}
.cp_opt_icn:hover {
  color: #fff;
}
.cp_opt_on {
  opacity: 1;
  color: #fff;
}

.author_picture {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 9px;
}
.author_info {
  height: 100%;
  position: relative;
  text-align: left !important;
}

.author_info .author_username {
  display: flex;
}
.author_username > div:not(:last-child) {
  margin-right: 5px;
}

.author_info > div:not(:last-child) {
  margin-bottom: 4px;
}

.adminBadge {
  width: 25px;
  height: 25px;
  color: gold;
}
.author_motto {
  font-size: 13px;
}

.author_date {
  font-size: 12px;
}

.comment_content {
  min-height: 50px;
  position: relative;
  display: block;
}
.show_less {
  max-height: 385px;
  overflow: hidden;
}
.cmt_grade {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  box-sizing: border-box;
}

.comment_content .comment-text {
  text-align: left;
  white-space: pre-wrap;
  padding: 5px 10px;
  word-break: break-word;
}

.comment_content .comment_text {
  height: 85px;
}

.comment_textarea {
  display: block;
  width: 100%;
  resize: none;
  background-color: rgba(23, 23, 23, 0.6);
  color: #fff;
  border: 0;
  font-family: inherit;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 16px;
  overflow: hidden;
}

.comment_actions {
  display: block;
  position: relative;
  width: 100%;
}
.comment_replies {
  display: none;
}

.action_hold {
  display: flex;
  justify-content: flex-end;
}

.action_hold button {
  display: inline-block;
}

.cmt_btn {
  color: #909090;
  line-height: 35px;
  height: 35px;
  display: inline-block;
  margin: 0 6px;
}
.cmt_btn:hover,
.cmt_active {
  color: #fff;
}
.cac {
  margin-left: auto;
  display: flex;
  width: 175px;
  justify-content: space-between;
}
.cac > button {
  display: inline-block;
}
.action_hold {
  display: flex;
  justify-content: flex-end;
}
.action_hold button {
  display: inline-block;
}
.action_hold button:not(:last-child):first-child {
  margin-right: 10px;
}
.replies {
  padding-top: 10px;
}
.view_replies {
  display: block;
}
.load_replies {
  display: flex;
}
.load_replies > button {
  margin: 0 auto;
}
.comment_reply .reply_content {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}
.reply_user {
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-right: 5px;
}
.reply_txt {
  width: 540px;
  display: inline-block;
}
.reply_txt .reply_textarea {
  height: 45px;
}
.comment_edit .edit_content {
  margin-bottom: 5px;
}
.edit_text {
  min-height: 45px;
}
.load_comments > button {
  width: 150px;
  height: 40px;
  padding: 0;
}
.load_comments .enspr_red_btn {
  margin: 0 auto;
}

.comment_menu {
  display: none;
  width: 150px;
  min-height: 35px;
  background-color: rgba(10, 10, 10, 0.9);
  z-index: 10;
  position: absolute;
}
.opt_menu_container {
  margin: 10px 0;
  height: 100%;
}
.opt_menu_item {
  height: 35px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  padding-left: 35px;
  box-sizing: border-box;
  line-height: 35px;
}
.opt_menu_item:hover {
  background-color: var(--red);
}

/*
=============== 
Common classes
===============
*/

.flex_ui {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-ui {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.enspr_red_btn {
  width: auto;
  min-width: 85px;
  height: 30px;
  display: block;
  line-height: 20px;
  background-color: var(--red);
  font-size: 0.9em;
  box-shadow: inset 0 0 3px rgb(0 0 0 / 40%);
  color: #fff;
}

.text-ui {
  color: #fff;
  text-align: center;
  margin: 0;
}

.badge {
  background-color: var(--red);
  padding: 3px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  color: #fff;
  text-shadow: #0a0a0a 0 0 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4) inset,
    0px 0px 5px rgba(10, 10, 10, 0.5);
}

.ellipsis-ui {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gradient-bottom-ui {
  bottom: 0;
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.sitc {
  height: 50px;
  line-height: 50px;
}

.fwn {
  font-weight: normal;
}

.highlight-red {
  color: var(--red);
}

.has_shimmer {
  position: relative;
  overflow: hidden;
}

/*
=============== 
Not Found
===============
*/

#not-found {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red_link {
  color: var(--red);
  text-decoration: none;
}

/*
===============
Skeleton Loaders
===============
*/

.selectors_skeleton {
  height: 190px;
  margin-bottom: 30px;
}
.selectors_skeleton > div:not(:last-child) {
  margin-bottom: 20px;
}
.select_user_header_skeleton,
.select_thread_header_skeleton {
  background-color: var(--skeleton-color-dark-one);
  height: 19px;
  padding: 5px 0;
  margin-bottom: 1px;
}
.select_user_users_skeleton {
  display: flex;
  justify-content: space-evenly;
}
.select_user_square_skeleton {
  background: var(--skeleton-color-dark-one);
  width: 60px;
  height: 60px;
  padding: 5px;
}
.select_thread_threads_skeleton {
  display: flex;
}
.select_thread_item_skeleton {
  background: var(--skeleton-color-dark-one);
  height: 30px;
  width: 60px;
  padding: 5px;
}
.select_thread_item_skeleton:not(:last-child) {
  margin-right: 15px;
}

.thread_column_skeleton > div:not(:last-child) {
  margin-bottom: 9px;
}
.thread_header_skeleton {
  display: flex;
  justify-content: space-between;
}
.thread_header_item_skeleton {
  background: var(--skeleton-color-dark-one);
  width: 150px;
  height: 35px;
}
.thread_sitc_skeleton {
  background: var(--skeleton-color-dark-one);
  height: 50px;
}

.comment_skeleton {
  background: var(--skeleton-color-dark-one);
  width: 100%;
  height: 170px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
}
.thread_comment_skeleton > div:not(:last-child) {
  margin-bottom: 9px;
}
.comment_picture_skeleton {
  background: var(--skeleton-color-dark-two);
  opacity: 0.5;
  width: 60px;
  height: 60px;
  margin-right: 9px;
}
.comment_info_skeleton {
  height: 60px;
}
.comment_info_skeleton > div:not(:last-child) {
  margin-bottom: 15px;
}
.paragraph_skeleton {
  background: var(--skeleton-color-dark-two);
  opacity: 0.5;
  height: 10px;
  width: 350px;
}

/* animation effects */
.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1.5s infinite;
}
.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transform: skewX(-20deg);
  box-shadow: 0 0 30px 30px rgba(255, 255, 255, 0.05);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(150%);
  }
}
